.footer_sz{
    background-color: #2b2b2c;
    padding: 22px 90px 018px 056px;

}
.footer-col{
    justify-content: flex-start !important;
    flex-direction: row;
}
.footer-col-50{
    width: 50%;
    position: relative;
    display: flex;
    color: aliceblue;
}
.linked-logo{
    background: url(linkedin.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
}